body {
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
